header {
    background-image: url(../img/pattern.png);
    background-color: rgb(13, 100, 230);
    height: 200px;
}

.logo {
    height: 90px;
    position: relative;
    top: 100px;
}

h5 {
    color: grey;
}

.yellow {
    background-color: yellow;
}

table {
    text-align: justify;
}

thead {
    background-color: rgb(61, 145, 209);
    color: white;
}

.blue {
    background-color: lightblue;
}

.white {
    background-color: white;
}

.justify {
    text-align: justify;
}

.picture {
    width: 400px;
    height: 200px;
    background-repeat: no-repeat;
    text-align: left;
    
    color: white; 
   
}

.monitor {
    background-image: url(../img/monitor.jpg);
}

.graph {
    background-image: url(../img/graph.jpg);
}